@-ms-viewport{
  width: device-width;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    font-family: Open Sans;
    font-size: 14px;
    font-weight:300;
}
header {
    height: 70px;
    background-color: #fad93d;
    position: relative;
}
.mid-box {
    width: 320px;
    margin: 15% auto 0;
    text-align: center;
    box-sizing: border-box;
}

.login-box {
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
    max-height: 1000px;
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: #fff;
}

.login-box h1 {
    margin-top: 0;
    margin-bottom: 20px;
}
.login-box.closed{
    max-height: 0;
    padding: 0 20px;
}
.login-text {
    padding: 2px 7px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login-text:hover {background-color: #0087cf;color: #fff;}
input {
    width: 100%;
    display: block;
    height: 50px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    font-size: 14px;
    color: #534d4d;
    background-color: #fad93d;
    border: 0;
    height: 34px;
    font-weight:300;
    cursor: pointer;
    padding: 0 15px;
    position: relative;
}
.action-link {
    background-color: #fff;
    width: 40px;
    display: block;
    height: 40px;
    margin-top: -4px;
    border-radius: 50%;
    padding: 0;
}
.action-link > img {
    width: 16px;
}
.action-link.reload-button {
    float: right;
    margin-top: 14px;
    margin-right: 15px;
}
button:hover{
    background-color: #534d4d;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px #ccc;
    
}
.logout-button {
    float: right;
    margin-top: 17px;
    margin-right: 17px;
}
.message-box {
    margin-bottom: 0;
    width: calc(100% - 60px);
    padding: 10px;
    float: left;
    border: 0;
    border-radius: 10px;
}
.message-link {
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 50%;
    background-color: #0087cf;
    margin-top: 0;
    padding: 0;
}
.add-message-form {
    padding: 10px 10px 10px;
    background-color: #fad93d;
}
.icon-send-message {
    width: 0px;
    height: 0px;
    border: 15px solid transparent;
    display: block;
    border-left: 30px solid #fff;
    margin-left: 13px;
}.icon-send-message:after {content: "";width: 0px;height: 0px;position: absolute;border: 3px solid transparent;display: block;border-left: 15px solid #0087cf;margin-left: 13px;left: 0;top: 22px;}
.clearfix,.clearfix:before,.clearfix:after {
    clear: both;
}
footer {
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
}
::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 300;
}
::-moz-placeholder {
  color: #ccc;
  font-weight: 300;
}
:-ms-input-placeholder {
  color: #ccc;
  font-weight: 300;
}
:-moz-placeholder {
  color: #ccc;
  font-weight: 300;
}
.message {
    background-color: #fff;
    border-radius: 10px;
    padding: 12px;
    width: 50%;
    margin: 20px;
    display: block;
    position: relative;
    float: left;
}
.mine.message {
    background-color: #bcdaea;
    float: right;
}
.message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 20px solid #f1f1f1;
    left: -40px;
    z-index: 0;
    bottom: 7px;
    border-bottom-right-radius: 50%;
}
.message:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid #fff;
    left: -20px;
    z-index: 0;
    bottom: 8px;
}
.mine.message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 20px solid #f1f1f1;
    right: -40px;
    z-index: 0;
    left: auto;
    bottom: 7px;
    border-bottom-left-radius: 50%;
}
.mine.message:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left:auto;
    border: 10px solid #bcdaea;
    right: -20px;
    z-index: 0;
    bottom: 8px;
}
.message .moment {
    float: right;
    position: relative;
    bottom: -14px;
    font-size: 10px;
    color: #777;
    right: -5px;
}
#last {
    float: left;
    width: 100%;
    margin: 0;
}
body {
    background-color: #f1f1f1;
}
main {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 70px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}